*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
.classpath
/.gitignore
*/target
target
tmp
*~
bin
*/test-output
temp-testng-customsuite.xml
**pom.xml.releaseBackup
release.properties
gen
*/seed.txt
notes
logs
gen-external-apklibs
.idea
build/
/gradle
/.project
/gradlew
/gradlew.bat
/import-summary.txt
/lint.xml
/local.properties
/project.properties
/REVAMP.iml
/traces.txt
app/build/
app/app.iml
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*.swp
*.iml
.DS_Store
assets
/.classpath
.gitignore
/gradle.properties
.gradle

