<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makaan">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.makaan.permission.C2D_MESSAGE" />

    <permission
        android:name="com.makaan.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <permission
        android:name="com.makaan.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.makaan.permission.MAPS_RECEIVE" />

    <application
        android:name=".MakaanBuyerApplication"
        android:allowBackup="true"
        android:icon="@drawable/makaan_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity
            android:name=".activity.locality.LocalityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity
            android:name=".activity.project.ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                 <!--<action android:name="android.intent.action.MAIN" />-->
                 <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        </activity>


        <activity
            android:name=".activity.city.CityActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.listing.ListingDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        <activity
            android:name=".activity.lead.LeadFormActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--<activity android:name=".activity.locality.LocalityActivity">-->

        <activity
            android:name=".activity.listing.SerpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">

        </activity>

       <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.pyr.PyrPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBarTheme">

        </activity>

        <activity
            android:name=".activity.listing.PropertyActivity"

            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBarTheme">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->

            <!--</intent-filter>-->

        </activity>


        <activity
            android:name=".jarvis.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FloatingWindow.Popup" />

        <activity
            android:name=".activity.buyerJourney.BuyerJourneyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBarTheme">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".activity.buyerJourney.BuyerDashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBarTheme"
            android:windowSoftInputMode="adjustPan">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".activity.buyerJourney.BuyerAccountSettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBarTheme" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>


        <activity
            android:name=".activity.userLogin.UserLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBarTheme">
        </activity>
        <service android:name=".jarvis.JarvisService"/>
        <!--<service android:name=".service.leakcanary.TemporaryLeakUploadService"-->/>
        <service android:name=".service.download.DownloadAssetService"
            android:process=":assets"/>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.GCM_RECEIVED_ACTION"/>
                <category android:name="com.makaan.seller" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.makaan.database.DataProvider"
            android:authorities="com.makaan.database.DataProvider"
            android:exported="false"
            android:label="@string/app_name"
            android:multiprocess="true"
            android:syncable="true" />

        <service
            android:name="com.makaan.notification.MakaanBuyerGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.GCM_RECEIVED_ACTION"/>
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name="com.makaan.notification.MakaanBuyerInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <receiver android:name="com.makaan.network.NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA6sKBuPzLAhe5IHBNgvWP8-jhhLeHqQ8E" />


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0d9f827a7cf965bf38c097cfb9becaa6e0d46db1" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_FB_id" />
    </application>

</manifest>
